/*CONTACT*/
.contact{
    padding: 70px 0;
    /* background-color: aqua; */
}
.contact .left,
.contact .right{
    max-width: 42%;
}
.contact .content {
    display: flex;
    width: auto;
    margin-top: 20px;
}
.contact .content span{
    padding-right: 20px;
  color: #fb811e;
}
.contact .content_right h6{
    font-weight: 700;
    font-size: 18px;
}
/* .contact .content_right a:hover{
  color: #fb811e;
  transition: all 0.5s;
} */

.contact input,
.contact textarea{
    width: 600px;
    margin: 0 20px 20px 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid rgb(134, 133, 133);
    outline: none;
}
.contact textarea{
    height: 160px;
}

.input_contact:focus{
    border: 1.5px solid #fb811e ;
    transition: all 0.3s;
}
.contact button{
    background-color: #fb811e;
    font-weight: 600;
    color: #eeeeee;
    width: 170px;
    height: 50px;
    border-radius: 25px;
    border: #fb811e;
    transition: all 0.5s;
    margin-left: 20px;
}
.contact button:hover{
    background-color: #009f4d ;
    color: #eeeeee;
}






