* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
  font-family: "Volkhov", serif;
  font-family: "Source Sans Pro", sans-serif;
}
